/* Page404.css */
.c-page404 {
  padding: 5rem 0; /* 例: 上下に余白 */
  text-align: center; /* メッセージを中央寄せ */
}

.c-page404_message {
  font-size: 2rem; /* メッセージのフォントサイズ */
  margin-left: 2rem; /* 左端からの余白 */
}

/* Home.css */

.c-home {
  padding-top: 30px; /* 上部の余白 */
}

.c-home_list {
  list-style: none; /* リストの点々を消す */
  padding: 0; /* リストのデフォルトの余白をリセット */
}

.c-home_listItem {
  margin-bottom: 20px; /* カード間の余白 */
  padding: 0 80px;
}